@charset "UTF-8";
/* woori_senior_plus.css */

#wrap {width:100%; min-width:865px; height:130px;}

/* #headBox ===================================================== */
#headBox {position:fixed; top:0; left:0; z-index:1000; width:100%; height:136px; padding:22px 50px; box-sizing:border-box; background-color:#fff;}
#headBox:after,
#headBox::after {content:" "; display:block; position:absolute; left:0; bottom:0; width:100%; height:0; border-bottom:1px solid #aaa;}

 h1 {position:relative; float:left; width:140px; height:35px; 
   background-image:url("../../img/woori_bank_logo.png");
   background-size:auto; background-repeat:no-repeat;
   background-position:100% 100%;}

 /* #gnb ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 #gnb {position:absolute; top:70px; left:0; right:0; margin:auto; width:100%; height:60px;border-top:1px solid #aaa;}
 #gnb:after,
 #gnb::after {content:" "; display:block; position:absolute; left:0; bottom:0; width:100%; height:0; }

 #gnb > h2 {width:0; height:0; overflow:hidden;}
 #gnb > ul > li {float:left; width:20%; height:auto;}
 #gnb > ul{width: 100%; height: auto; position: relative;}
 #gnb > ul:before,
   #gnb > ul::before {content:" "; display:block; width:100vw; height:100%; margin-left:-50vw; position:absolute; bottom:0; left:50%; z-index:-100; background-color:#fff;}

 #gnb > ul > li > dl > dt {width:250px; height:65px; padding:22px; box-sizing:border-box; text-align:center;}
 #gnb > ul > li > dl > dt > a {display:block; font-size:1.5rem; color:#111; text-align:center;}
 #gnb > ul > li > dl > dd {/* display:none; */ width:250px; height:auto; padding:22px; box-sizing:border-box; text-align:center;}
 #gnb > ul > li > dl > dd > a {display:block; width:100%; height:auto; font-size:1rem; text-align:center; padding:10px; box-sizing:border-box;}

 #gnb dt > a:hover,
 #gnb dt > a:focus {color:#0af;}

 #gnb dd > a:hover,
 #gnb dd > a:focus {color:#0af; text-decoration:underline;}

 #viewBox {width:100%; height:2000px; background-color:#0af;}
 #viewBox > h2 {width:0; height:0; overflow:hidden;}



 