@charset "UTF-8";
/* rwd_test_02.css */

#wrap {width:100%; height:100%; background-color:#ccc;}

#headBox {position:fixed; top:0; left:0; padding:0.625rem; box-sizing:border-box; width:30rem; height:3.75rem; background-color:#557;}
h1 {float:left; margin-right:14.5625rem; width:7.875rem; height:1.875rem; background-color:#5fa;}

#naviBox > .nav_01 {float:left; margin-right:10px; width:2.25rem; height:2.375rem; background-color:#5fa;}
#naviBox > .nav_02 {float:left; width:2.8125rem; height:2.375rem; background-color:#5fa;}

#contentBox {width:100%; height:auto;}
  #conBox {width:30rem; height:45rem; background-color:#da9;}

  #viewBox {width:30rem; height:45rem; padding:1.375rem; box-sizing:border-box; background-color:#575;}
  #viewBox > .vb_01 {width:12rem; height:9.75rem; background-color:#ffa;}

#listBox {width:30rem; height:45rem; background-color:#9cf;}

#footBox {width:30rem; height:3.75rem; background-color:#766;}


/* 768 =========================================================== */
@media screen and (min-width:481px) and (max-width:768px) {
  #contentBox {height:auto;}
   #conBox {height:46.875vw; max-height:18.75rem;}
   #viewBox {height:13.125rem;}
   #listBox {;}
}

/* 960 =========================================================== */
@media screen and (min-width:769px) and (max-width:960px) {
  #wrap {min-width:60rem;}
  #headBox {height:28.125rem;}
  h1 {width:100%; height:100%;}

  #contentBox {height:auto;}
   #viewBox {height:13.125rem;}
   #listBox > ul > li {width:50%; height:12.5rem;}
   #listBox > ul > li:nth-child(3) {background-color:#ccc;}
   #listBox > ul > li:nth-child(4) {background-color:#afc;}

   #footBox > h2 {width:50%; min-width:9.375rem; margin:auto;}
}