@charset "UTF-8";
/* selector_01.css */

body {color:#fa0;}
a{color:inherit;}
/* 속성값이 inherit 이라면 부모의 속성을 따르겠다는 의미 */

h1 {background-color:#777; color:#ff0;}
h2 {background-color:#07f; color:#fff;}

.wrap {background-color:#fa0; color:#0af;}
.con {border-width:3px; border-style:solid;}
/* border-style: solid // dotted // dashed; */

#list {border-width:3px; border-style:dotted; border-color:#faf;}
	.red > a{color:#f33;}
/* 기본적으로 a요소는 자체 색이 별도로 존재 */
	.yellow {color:#f90;}
	.blue > a {color:#07f;}
	.green > a {color:#0a0;}